@charset "utf-8";

table.formTable{
  width:95%;
  margin:0 auto;
  border-collapse:collapse;
}
small {
  font-size: 0.7em;
  color:#fc0303;
}
table.formTable td,table.formTable th{
  border:1px solid #f6a401;
  padding:10px;
}
table.formTable th{
  font-weight:normal;
  background:#FFD799;
  text-align:left;
  vertical-align:top;
}
input, textarea{
color:#333;
font-size: 1em;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Sans-serif;
}

input{
width:90%;
max-width:300px;
}
textarea{
resize:vertical;
width:98%;
}

.button{
background:#df8b04;
color:#fcfcfc;
border:1px solid #f6a401;
padding:5px 20px;
}
.button:hover{
background:#f6a401;
}
.example{
font-size: 0.8em;
}

@media only screen and (min-width:940px){
  table.formTable th{
  width:30%;
  }
}
@media only screen and (max-width:640px){
  table.formTable{
  margin:0;
  }
  table.formTable td,th{
  width:100%;
  display:block;
  }
}