<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% provide(:title, 'Contact') %>
<meta name="keywords" content="照道,アート書道家,書道">
<meta name="description" content="アート書道家 | 照道（TERUDOU）">
<meta name="viewport" content="width=device-width">

<!--
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/contact.css">
-->

<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/style.css.scss">
<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/contact.css.scss">

</head>
<body>

<!-- ヘッダー -->
<div id="header">
	<div class="inner">
		<div class="logo">

			<!--
			<a href="index.html"><img src="images/logo.png" alt="ロゴ"></a>
			-->
			<a href="index.html"><%= image_tag 'logo.png' %></a>

		</div>

		<!-- トップナビゲーション -->
		<div id="menu">
			<h1>アート書道家 | <span>照道</span>TERUDOU</h1>
			<ul>
				<li><a href="index.html">Top</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="gallary.html">Gallary</a></li>
				<li><a href="http://blog.livedoor.jp/terudou/" target="_blank">Blog</a></li>
				<li class="active"><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<!-- トップナビゲーション -->
	</div>
</div>
<!-- / ヘッダー -->

<!-- コンテンツ -->
<div id="wrapper">

	<section class="gridWrapper">
		<article class="grid">
			<h2>お問い合わせ</h2>
			<form method="post" action="mail.php">
			<table class="formTable">
				<tr>
					<th>お名前<small> ※必須</small></th>
					<td><span class="example">例）山田　花子</span><br/><input size="30" type="text" name="お名前" /></td>
				</tr><tr>
					<th>ふりがな<small> ※必須</small></th>
					<td><span class="example">例）やまだ　はなこ</span><br/><input size="30" type="text" name="ふりがな" /></td>
				</tr><tr>
					<th>電話番号</th>
					<td><span class="example">例）000-0000-0000</span><br/><input size="30" type="text" name="電話番号" /></td>
				</tr><tr>
					<th>メールアドレス<small> ※必須</small></th>
					<td><span class="example">例）sample@sample.com</span><br/><input size="30" type="text" name="メールアドレス" /></td>
				</tr><tr>
					<th>お問い合わせ内容<small> ※必須</small></th>
					<td><textarea name="お問い合わせ内容" rows="5"></textarea></td>
				</tr>
			</table>
			<p align="center"><input class="button" type="submit" value="確　認" /></p>
			</form>
		</article>
	</section>
</div>
<!-- / コンテンツ -->

<!-- フッター -->
<div id="footer">
	<div class="inner">
		<article class="submenu">
			<ul>
				<li><a href="index.html">Top</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="gallary.html">Gallary</a></li>
				<li><a href="http://blog.livedoor.jp/terudou/" target="_blank">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</article>
		<p class="copyright">&copy; 2015 TERUDOU All Rights Reserved.</p>
		<p class="footer_logo"><a href="index.html">照道<span>TERUDOU</span></a></p>
	</div>
</div>
<!-- / フッター -->

</body>
</html>