<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% provide(:title, 'Gallary') %>
<meta name="keywords" content="照道,アート書道家,書道">
<meta name="description" content="アート書道家 | 照道（TERUDOU）">
<meta name="viewport" content="width=device-width">

<!--
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/gallary.css">
<link rel="stylesheet" type="text/css" href="css/jquery.fs.boxer.css">
<link rel="stylesheet" type="text/css" href="css/jquery.fs.boxer.min.css">
-->

<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/style.css.scss">
<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/gallary.css.scss">
<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/jquery.fs.boxer.css.scss">
<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/jquery.fs.boxer.min.css.scss">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.fs.boxer.js"></script>
<script type="text/javascript" src="js/jquery.fs.boxer.min.js"></script>
<script>
$(function(){
	$(".boxer").boxer();
});
</script>
</head>
<body>
<!-- ヘッダー -->
<div id="header">
	<div class="inner">
		<div class="logo">

			<!--
			<a href="index.html"><img src="images/logo.png" alt="ロゴ"></a>
			-->
			<a href="index.html"><%= image_tag 'logo.png' %></a>

		</div>

		<!-- トップナビゲーション -->
		<div id="menu">
			<h1>アート書道家 | <span>照道</span>TERUDOU</h1>
			<ul>
				<li><a href="index.html">Top</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li class="active"><a href="gallary.html">Gallary</a></li>
				<li><a href="http://blog.livedoor.jp/terudou/" target="_blank">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<!-- トップナビゲーション -->
	</div>
</div>
<!-- / ヘッダー -->

<!-- コンテンツ -->
<div id="wrapper">

	<section class="gridWrapper">
		<article class="grid">
			<h2>書（笑）</h2>

<!-- 2015/08/19 追記 書（笑）２１作品追加 *** Start *** -->
<div class="image-box"><a href="images/gallary/syo097.jpg" class="boxer" title="「のし お中元」" data-gallery="gallery"><img src="images/thumbnail/syo097.jpg" alt="「のし お中元」" /></a></div>

<div class="image-box"><a href="images/gallary/syo098.jpg" class="boxer" title="「めぐみ」" data-gallery="gallery"><img src="images/thumbnail/syo098.jpg" alt="「めぐみ」" /></a></div>

<div class="image-box"><a href="images/gallary/syo099.jpg" class="boxer" title="「夏祭り」" data-gallery="gallery"><img src="images/thumbnail/syo099.jpg" alt="「夏祭り」" /></a></div>

<div class="image-box"><a href="images/gallary/syo100.jpg" class="boxer" title="「金魚」" data-gallery="gallery"><img src="images/thumbnail/syo100.jpg" alt="「金魚」" /></a></div>

<div class="image-box"><a href="images/gallary/syo101.jpg" class="boxer" title="「恵み」" data-gallery="gallery"><img src="images/thumbnail/syo101.jpg" alt="「恵み」" /></a></div>

<div class="image-box"><a href="images/gallary/syo102.jpg" class="boxer" title="「香」" data-gallery="gallery"><img src="images/thumbnail/syo102.jpg" alt="「香」" /></a></div>

<div class="image-box"><a href="images/gallary/syo103.jpg" class="boxer" title="「暑中見舞い うちわ」" data-gallery="gallery"><img src="images/thumbnail/syo103.jpg" alt="「暑中見舞い うちわ」" /></a></div>

<div class="image-box"><a href="images/gallary/syo104.jpg" class="boxer" title="「松」" data-gallery="gallery"><img src="images/thumbnail/syo104.jpg" alt="「松」" /></a></div>

<div class="image-box"><a href="images/gallary/syo105.jpg" class="boxer" title="「蝉時雨」" data-gallery="gallery"><img src="images/thumbnail/syo105.jpg" alt="「蝉時雨」" /></a></div>

<div class="image-box"><a href="images/gallary/syo106.jpg" class="boxer" title="「則天去8私」" data-gallery="gallery"><img src="images/thumbnail/syo106.jpg" alt="「則天去8私」" /></a></div>

<div class="image-box"><a href="images/gallary/syo107.jpg" class="boxer" title="「朝顔」" data-gallery="gallery"><img src="images/thumbnail/syo107.jpg" alt="「朝顔」" /></a></div>

<div class="image-box"><a href="images/gallary/syo108.jpg" class="boxer" title="「朝顔☆」" data-gallery="gallery"><img src="images/thumbnail/syo108.jpg" alt="「朝顔☆」" /></a></div>

<div class="image-box"><a href="images/gallary/syo109.jpg" class="boxer" title="「鉄砲百合」" data-gallery="gallery"><img src="images/thumbnail/syo109.jpg" alt="「鉄砲百合」" /></a></div>

<div class="image-box"><a href="images/gallary/syo110.jpg" class="boxer" title="「白砂青松」" data-gallery="gallery"><img src="images/thumbnail/syo110.jpg" alt="「白砂青松」" /></a></div>

<div class="image-box"><a href="images/gallary/syo111.jpg" class="boxer" title="「百日紅」" data-gallery="gallery"><img src="images/thumbnail/syo111.jpg" alt="「百日紅」" /></a></div>

<div class="image-box"><a href="images/gallary/syo112.jpg" class="boxer" title="「芙蓉」" data-gallery="gallery"><img src="images/thumbnail/syo112.jpg" alt="「芙蓉」" /></a></div>

<div class="image-box"><a href="images/gallary/syo113.jpg" class="boxer" title="「葡萄」" data-gallery="gallery"><img src="images/thumbnail/syo113.jpg" alt="「葡萄」" /></a></div>

<div class="image-box"><a href="images/gallary/syo114.jpg" class="boxer" title="「猛暑」" data-gallery="gallery"><img src="images/thumbnail/syo114.jpg" alt="「猛暑」" /></a></div>

<div class="image-box"><a href="images/gallary/syo115.jpg" class="boxer" title="「柳」" data-gallery="gallery"><img src="images/thumbnail/syo115.jpg" alt="「柳」" /></a></div>

<div class="image-box"><a href="images/gallary/syo116.jpg" class="boxer" title="「凌霄花」" data-gallery="gallery"><img src="images/thumbnail/syo116.jpg" alt="「凌霄花」" /></a></div>

<div class="image-box"><a href="images/gallary/syo117.jpg" class="boxer" title="「涼風」" data-gallery="gallery"><img src="images/thumbnail/syo117.jpg" alt="「涼風」" /></a></div>
<!-- 2015/08/19 追記 書（笑）２１作品追加 *** End *** -->

<div class="image-box"><a href="images/gallary/syo096.jpg" class="boxer" title="国立新美術館 展示作品「躍動」" data-gallery="gallery"><img src="images/thumbnail/syo096.jpg" alt="国立新美術館 展示作品「躍動」" /></a></div>
<div class="image-box"><a href="images/gallary/syo095.jpg" class="boxer" title="国立新美術館 展示作品「大丈夫 〜一人ヨリ二人〜」" data-gallery="gallery"><img src="images/thumbnail/syo095.jpg" alt="国立新美術館 展示作品「大丈夫 〜一人ヨリ二人〜」" /></a></div>
<div class="image-box"><a href="images/gallary/syo094.jpg" class="boxer" title="国立新美術館 展示作品「輝」" data-gallery="gallery"><img src="images/thumbnail/syo094.jpg" alt="国立新美術館 展示作品「輝」" /></a></div>
<div class="image-box"><a href="images/gallary/syo093.jpg" class="boxer" title="「薔薇」" data-gallery="gallery"><img src="images/thumbnail/syo093.jpg" alt="「薔薇」" /></a></div>
<div class="image-box"><a href="images/gallary/syo092.jpg" class="boxer" title="「鬱金香」" data-gallery="gallery"><img src="images/thumbnail/syo092.jpg" alt="「鬱金香」" /></a></div>
<div class="image-box"><a href="images/gallary/syo091.jpg" class="boxer" title="「棗」" data-gallery="gallery"><img src="images/thumbnail/syo091.jpg" alt="「棗」" /></a></div>
<div class="image-box"><a href="images/gallary/syo090.jpg" class="boxer" title="「凛」" data-gallery="gallery"><img src="images/thumbnail/syo090.jpg" alt="「凛」" /></a></div>
<div class="image-box"><a href="images/gallary/syo089.jpg" class="boxer" title="「凛」" data-gallery="gallery"><img src="images/thumbnail/syo089.jpg" alt="「凛」" /></a></div>
<div class="image-box"><a href="images/gallary/syo088.jpg" class="boxer" title="「流」" data-gallery="gallery"><img src="images/thumbnail/syo088.jpg" alt="「流」" /></a></div>
<div class="image-box"><a href="images/gallary/syo087.jpg" class="boxer" title="「夕日」" data-gallery="gallery"><img src="images/thumbnail/syo087.jpg" alt="「夕日」" /></a></div>
<div class="image-box"><a href="images/gallary/syo086.jpg" class="boxer" title="「癒」" data-gallery="gallery"><img src="images/thumbnail/syo086.jpg" alt="「癒」" /></a></div>
<div class="image-box"><a href="images/gallary/syo085.jpg" class="boxer" title="「明るくね」" data-gallery="gallery"><img src="images/thumbnail/syo085.jpg" alt="「明るくね」" /></a></div>
<div class="image-box"><a href="images/gallary/syo084.jpg" class="boxer" title="「無心」" data-gallery="gallery"><img src="images/thumbnail/syo084.jpg" alt="「無心」" /></a></div>
<div class="image-box"><a href="images/gallary/syo083.jpg" class="boxer" title="「無常」" data-gallery="gallery"><img src="images/thumbnail/syo083.jpg" alt="「無常」" /></a></div>
<div class="image-box"><a href="images/gallary/syo082.jpg" class="boxer" title="「無我夢中」" data-gallery="gallery"><img src="images/thumbnail/syo082.jpg" alt="「無我夢中」" /></a></div>
<div class="image-box"><a href="images/gallary/syo081.jpg" class="boxer" title="「無我夢中」" data-gallery="gallery"><img src="images/thumbnail/syo081.jpg" alt="「無我夢中」" /></a></div>
<div class="image-box"><a href="images/gallary/syo080.jpg" class="boxer" title="「無」" data-gallery="gallery"><img src="images/thumbnail/syo080.jpg" alt="「無」" /></a></div>
<div class="image-box"><a href="images/gallary/syo079.jpg" class="boxer" title="「夢ひらく 珈琲書」" data-gallery="gallery"><img src="images/thumbnail/syo079.jpg" alt="「夢ひらく 珈琲書」" /></a></div>
<div class="image-box"><a href="images/gallary/syo078.jpg" class="boxer" title="「峰」" data-gallery="gallery"><img src="images/thumbnail/syo078.jpg" alt="「峰」" /></a></div>
<div class="image-box"><a href="images/gallary/syo077.jpg" class="boxer" title="「風光明媚」" data-gallery="gallery"><img src="images/thumbnail/syo077.jpg" alt="「風光明媚」" /></a></div>
<div class="image-box"><a href="images/gallary/syo076.jpg" class="boxer" title="「風」" data-gallery="gallery"><img src="images/thumbnail/syo076.jpg" alt="「風」" /></a></div>
<div class="image-box"><a href="images/gallary/syo075.jpg" class="boxer" title="「風」" data-gallery="gallery"><img src="images/thumbnail/syo075.jpg" alt="「風」" /></a></div>
<div class="image-box"><a href="images/gallary/syo074.jpg" class="boxer" title="「百合」" data-gallery="gallery"><img src="images/thumbnail/syo074.jpg" alt="「百合」" /></a></div>
<div class="image-box"><a href="images/gallary/syo073.jpg" class="boxer" title="「波」" data-gallery="gallery"><img src="images/thumbnail/syo073.jpg" alt="「波」" /></a></div>
<div class="image-box"><a href="images/gallary/syo072.jpg" class="boxer" title="「日々精進」" data-gallery="gallery"><img src="images/thumbnail/syo072.jpg" alt="「日々精進」" /></a></div>
<div class="image-box"><a href="images/gallary/syo071.jpg" class="boxer" title="「努力」" data-gallery="gallery"><img src="images/thumbnail/syo071.jpg" alt="「努力」" /></a></div>
<div class="image-box"><a href="images/gallary/syo070.jpg" class="boxer" title="「地球はオレの遊園地だ　三浦雄一郎」" data-gallery="gallery"><img src="images/thumbnail/syo070.jpg" alt="「地球はオレの遊園地だ　三浦雄一郎」" /></a></div>
<div class="image-box"><a href="images/gallary/syo069.jpg" class="boxer" title="「地球はオレの遊園地だ　三浦雄一郎」" data-gallery="gallery"><img src="images/thumbnail/syo069.jpg" alt="「地球はオレの遊園地だ　三浦雄一郎」" /></a></div>
<div class="image-box"><a href="images/gallary/syo068.jpg" class="boxer" title="「大丈夫〜ゆっくり ゆっくり〜」" data-gallery="gallery"><img src="images/thumbnail/syo068.jpg" alt="「大丈夫〜ゆっくり ゆっくり〜」" /></a></div>
<div class="image-box"><a href="images/gallary/syo067.jpg" class="boxer" title="「大空」" data-gallery="gallery"><img src="images/thumbnail/syo067.jpg" alt="「大空」" /></a></div>
<div class="image-box"><a href="images/gallary/syo066.jpg" class="boxer" title="「太陽顔」" data-gallery="gallery"><img src="images/thumbnail/syo066.jpg" alt="「太陽顔」" /></a></div>
<div class="image-box"><a href="images/gallary/syo065.jpg" class="boxer" title="「太陽みたいな人」" data-gallery="gallery"><img src="images/thumbnail/syo065.jpg" alt="「太陽みたいな人」" /></a></div>
<div class="image-box"><a href="images/gallary/syo064.jpg" class="boxer" title="「太陽」" data-gallery="gallery"><img src="images/thumbnail/syo064.jpg" alt="「太陽」" /></a></div>
<div class="image-box"><a href="images/gallary/syo063.jpg" class="boxer" title="「切磋琢磨」" data-gallery="gallery"><img src="images/thumbnail/syo063.jpg" alt="「切磋琢磨」" /></a></div>
<div class="image-box"><a href="images/gallary/syo062.jpg" class="boxer" title="「誠実」" data-gallery="gallery"><img src="images/thumbnail/syo062.jpg" alt="「誠実」" /></a></div>
<div class="image-box"><a href="images/gallary/syo061.jpg" class="boxer" title="「誠敬謙勤」" data-gallery="gallery"><img src="images/thumbnail/syo061.jpg" alt="「誠敬謙勤」" /></a></div>
<div class="image-box"><a href="images/gallary/syo060.jpg" class="boxer" title="「精華」" data-gallery="gallery"><img src="images/thumbnail/syo060.jpg" alt="「精華」" /></a></div>
<div class="image-box"><a href="images/gallary/syo059.jpg" class="boxer" title="「征服すべきは 山の頂上ではなく 自分自身だ エドモンド＝ヒラリー」" data-gallery="gallery"><img src="images/thumbnail/syo059.jpg" alt="「征服すべきは 山の頂上ではなく 自分自身だ エドモンド＝ヒラリー」" /></a></div>
<div class="image-box"><a href="images/gallary/syo058.jpg" class="boxer" title="「人は大きく 己は小さく 腹立てず 気は長く 口慎めば 命長かれ 円覚寺」" data-gallery="gallery"><img src="images/thumbnail/syo058.jpg" alt="「人は大きく 己は小さく 腹立てず 気は長く 口慎めば 命長かれ 円覚寺」" /></a></div>
<div class="image-box"><a href="images/gallary/syo057.jpg" class="boxer" title="「真心」" data-gallery="gallery"><img src="images/thumbnail/syo057.jpg" alt="「真心」" /></a></div>
<div class="image-box"><a href="images/gallary/syo056.jpg" class="boxer" title="「新芽」" data-gallery="gallery"><img src="images/thumbnail/syo056.jpg" alt="「新芽」" /></a></div>
<div class="image-box"><a href="images/gallary/syo055.jpg" class="boxer" title="「心の瞳」" data-gallery="gallery"><img src="images/thumbnail/syo055.jpg" alt="「心の瞳」" /></a></div>
<div class="image-box"><a href="images/gallary/syo054.jpg" class="boxer" title="「心」" data-gallery="gallery"><img src="images/thumbnail/syo054.jpg" alt="「心」" /></a></div>
<div class="image-box"><a href="images/gallary/syo053.jpg" class="boxer" title="「笑顔」" data-gallery="gallery"><img src="images/thumbnail/syo053.jpg" alt="「笑顔」" /></a></div>
<div class="image-box"><a href="images/gallary/syo052.jpg" class="boxer" title="「笑ってみよっ」" data-gallery="gallery"><img src="images/thumbnail/syo052.jpg" alt="「笑ってみよっ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo051.jpg" class="boxer" title="「松前町様」" data-gallery="gallery"><img src="images/thumbnail/syo051.jpg" alt="「松前町様」" /></a></div>
<div class="image-box"><a href="images/gallary/syo050.jpg" class="boxer" title="「松前町〜めぐり めぐるまち まさき〜」" data-gallery="gallery"><img src="images/thumbnail/syo050.jpg" alt="「松前町〜めぐり めぐるまち まさき〜」" /></a></div>
<div class="image-box"><a href="images/gallary/syo049.jpg" class="boxer" title="「春風」" data-gallery="gallery"><img src="images/thumbnail/syo049.jpg" alt="「春風」" /></a></div>
<div class="image-box"><a href="images/gallary/syo048.jpg" class="boxer" title="「春」" data-gallery="gallery"><img src="images/thumbnail/syo048.jpg" alt="「春」" /></a></div>
<div class="image-box"><a href="images/gallary/syo047.jpg" class="boxer" title="「てるよが見てるヨ」" data-gallery="gallery"><img src="images/thumbnail/syo047.jpg" alt="「てるよが見てるヨ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo046.jpg" class="boxer" title="「祝〜kannreki〜」" data-gallery="gallery"><img src="images/thumbnail/syo046.jpg" alt="「祝〜kannreki〜」" /></a></div>
<div class="image-box"><a href="images/gallary/syo045.jpg" class="boxer" title="「紫陽花」" data-gallery="gallery"><img src="images/thumbnail/syo045.jpg" alt="「紫陽花」" /></a></div>
<div class="image-box"><a href="images/gallary/syo044.jpg" class="boxer" title="「思」" data-gallery="gallery"><img src="images/thumbnail/syo044.jpg" alt="「思」" /></a></div>
<div class="image-box"><a href="images/gallary/syo043.jpg" class="boxer" title="「思」" data-gallery="gallery"><img src="images/thumbnail/syo043.jpg" alt="「思」" /></a></div>
<div class="image-box"><a href="images/gallary/syo042.jpg" class="boxer" title="「向日葵」" data-gallery="gallery"><img src="images/thumbnail/syo042.jpg" alt="「向日葵」" /></a></div>
<div class="image-box"><a href="images/gallary/syo041.jpg" class="boxer" title="「光」" data-gallery="gallery"><img src="images/thumbnail/syo041.jpg" alt="「光」" /></a></div>
<div class="image-box"><a href="images/gallary/syo040.jpg" class="boxer" title="「横須賀」" data-gallery="gallery"><img src="images/thumbnail/syo040.jpg" alt="「横須賀」" /></a></div>
<div class="image-box"><a href="images/gallary/syo039.jpg" class="boxer" title="「謙虚」" data-gallery="gallery"><img src="images/thumbnail/syo039.jpg" alt="「謙虚」" /></a></div>
<div class="image-box"><a href="images/gallary/syo038.jpg" class="boxer" title="「銀河系」" data-gallery="gallery"><img src="images/thumbnail/syo038.jpg" alt="「銀河系」" /></a></div>
<div class="image-box"><a href="images/gallary/syo037.jpg" class="boxer" title="「響」" data-gallery="gallery"><img src="images/thumbnail/syo037.jpg" alt="「響」" /></a></div>
<div class="image-box"><a href="images/gallary/syo036.jpg" class="boxer" title="「虚心坦懐」" data-gallery="gallery"><img src="images/thumbnail/syo036.jpg" alt="「虚心坦懐」" /></a></div>
<div class="image-box"><a href="images/gallary/syo035.jpg" class="boxer" title="「虚心」" data-gallery="gallery"><img src="images/thumbnail/syo035.jpg" alt="「虚心」" /></a></div>
<div class="image-box"><a href="images/gallary/syo034.jpg" class="boxer" title="「喫茶去」" data-gallery="gallery"><img src="images/thumbnail/syo034.jpg" alt="「喫茶去」" /></a></div>
<div class="image-box"><a href="images/gallary/syo033.jpg" class="boxer" title="「願叶」" data-gallery="gallery"><img src="images/thumbnail/syo033.jpg" alt="「願叶」" /></a></div>
<div class="image-box"><a href="images/gallary/syo032.jpg" class="boxer" title="「感受性」" data-gallery="gallery"><img src="images/thumbnail/syo032.jpg" alt="「感受性」" /></a></div>
<div class="image-box"><a href="images/gallary/syo031.jpg" class="boxer" title="「感謝」" data-gallery="gallery"><img src="images/thumbnail/syo031.jpg" alt="「感謝」" /></a></div>
<div class="image-box"><a href="images/gallary/syo030.jpg" class="boxer" title="「楽」" data-gallery="gallery"><img src="images/thumbnail/syo030.jpg" alt="「楽」" /></a></div>
<div class="image-box"><a href="images/gallary/syo029.jpg" class="boxer" title="「花菖蒲」" data-gallery="gallery"><img src="images/thumbnail/syo029.jpg" alt="「花菖蒲」" /></a></div>
<div class="image-box"><a href="images/gallary/syo028.jpg" class="boxer" title="「穏やか」" data-gallery="gallery"><img src="images/thumbnail/syo028.jpg" alt="「穏やか」" /></a></div>
<div class="image-box"><a href="images/gallary/syo027.jpg" class="boxer" title="「温笑」" data-gallery="gallery"><img src="images/thumbnail/syo027.jpg" alt="「温笑」" /></a></div>
<div class="image-box"><a href="images/gallary/syo026.jpg" class="boxer" title="「温光」" data-gallery="gallery"><img src="images/thumbnail/syo026.jpg" alt="「温光」" /></a></div>
<div class="image-box"><a href="images/gallary/syo025.jpg" class="boxer" title="「運がいいなんてない！！すべてあなたの努力」" data-gallery="gallery"><img src="images/thumbnail/syo025.jpg" alt="「運がいいなんてない！！すべてあなたの努力」" /></a></div>
<div class="image-box"><a href="images/gallary/syo024.jpg" class="boxer" title="「雨垂レ石ヲ穿ツ」" data-gallery="gallery"><img src="images/thumbnail/syo024.jpg" alt="「雨垂レ石ヲ穿ツ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo023.jpg" class="boxer" title="「一歩前へ」" data-gallery="gallery"><img src="images/thumbnail/syo023.jpg" alt="「一歩前へ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo022.jpg" class="boxer" title="「一期一会」" data-gallery="gallery"><img src="images/thumbnail/syo022.jpg" alt="「一期一会」" /></a></div>
<div class="image-box"><a href="images/gallary/syo021.jpg" class="boxer" title="「一期一会」" data-gallery="gallery"><img src="images/thumbnail/syo021.jpg" alt="「一期一会」" /></a></div>
<div class="image-box"><a href="images/gallary/syo020.jpg" class="boxer" title="「一期一会」" data-gallery="gallery"><img src="images/thumbnail/syo020.jpg" alt="「一期一会」" /></a></div>
<div class="image-box"><a href="images/gallary/syo019.jpg" class="boxer" title="「一期一会」" data-gallery="gallery"><img src="images/thumbnail/syo019.jpg" alt="「一期一会」" /></a></div>
<div class="image-box"><a href="images/gallary/syo018.jpg" class="boxer" title="「愛」" data-gallery="gallery"><img src="images/thumbnail/syo018.jpg" alt="「愛」" /></a></div>
<div class="image-box"><a href="images/gallary/syo017.jpg" class="boxer" title="「ものうしとても 心動かすことなし」" data-gallery="gallery"><img src="images/thumbnail/syo017.jpg" alt="「ものうしとても 心動かすことなし」" /></a></div>
<div class="image-box"><a href="images/gallary/syo016.jpg" class="boxer" title="「にっこり」" data-gallery="gallery"><img src="images/thumbnail/syo016.jpg" alt="「にっこり」" /></a></div>
<div class="image-box"><a href="images/gallary/syo015.jpg" class="boxer" title="「つつましさ」" data-gallery="gallery"><img src="images/thumbnail/syo015.jpg" alt="「つつましさ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo014.jpg" class="boxer" title="「そこに山はあったから ジョージ・マロリー」" data-gallery="gallery"><img src="images/thumbnail/syo014.jpg" alt="「そこに山はあったから ジョージ・マロリー」" /></a></div>
<div class="image-box"><a href="images/gallary/syo013.jpg" class="boxer" title="「すてきなEGAOで」" data-gallery="gallery"><img src="images/thumbnail/syo013.jpg" alt="「すてきなEGAOで」" /></a></div>
<div class="image-box"><a href="images/gallary/syo012.jpg" class="boxer" title="「ジョ」" data-gallery="gallery"><img src="images/thumbnail/syo012.jpg" alt="「ジョ」" /></a></div>
<div class="image-box"><a href="images/gallary/syo011.jpg" class="boxer" title="「えがお」" data-gallery="gallery"><img src="images/thumbnail/syo011.jpg" alt="「えがお」" /></a></div>
<div class="image-box"><a href="images/gallary/syo010.jpg" class="boxer" title="「いつもありがとう」" data-gallery="gallery"><img src="images/thumbnail/syo010.jpg" alt="「いつもありがとう」" /></a></div>
<div class="image-box"><a href="images/gallary/syo009.jpg" class="boxer" title="「ありがとう」" data-gallery="gallery"><img src="images/thumbnail/syo009.jpg" alt="「ありがとう」" /></a></div>
<div class="image-box"><a href="images/gallary/syo008.jpg" class="boxer" title="「ありがとう」" data-gallery="gallery"><img src="images/thumbnail/syo008.jpg" alt="「ありがとう」" /></a></div>
<div class="image-box"><a href="images/gallary/syo007.jpg" class="boxer" title="「Thank 優」" data-gallery="gallery"><img src="images/thumbnail/syo007.jpg" alt="「Thank 優」" /></a></div>
<div class="image-box"><a href="images/gallary/syo006.jpg" class="boxer" title="「Sun」" data-gallery="gallery"><img src="images/thumbnail/syo006.jpg" alt="「Sun」" /></a></div>
<div class="image-box"><a href="images/gallary/syo005.jpg" class="boxer" title="「only one」" data-gallery="gallery"><img src="images/thumbnail/syo005.jpg" alt="「only one」" /></a></div>
<div class="image-box"><a href="images/gallary/syo004.jpg" class="boxer" title="「LOVE」" data-gallery="gallery"><img src="images/thumbnail/syo004.jpg" alt="「LOVE」" /></a></div>
<div class="image-box"><a href="images/gallary/syo003.jpg" class="boxer" title="「kokoro」" data-gallery="gallery"><img src="images/thumbnail/syo003.jpg" alt="「kokoro」" /></a></div>
<div class="image-box"><a href="images/gallary/syo002.jpg" class="boxer" title="「giveあんどgive」" data-gallery="gallery"><img src="images/thumbnail/syo002.jpg" alt="「giveあんどgive」" /></a></div>
<div class="image-box"><a href="images/gallary/syo001.jpg" class="boxer" title="「AME降って地固マル」" data-gallery="gallery"><img src="images/thumbnail/syo001.jpg" alt="「AME降って地固マル」" /></a></div>
			<h2>お名前デザイン</h2>
<div class="image-box"><a href="images/gallary/onamae010.jpg" class="boxer" title="「さやか」様" data-gallery="gallery"><img src="images/thumbnail/onamae010.jpg" alt="「さやか」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae009.jpg" class="boxer" title="「光」様" data-gallery="gallery"><img src="images/thumbnail/onamae009.jpg" alt="「光」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae008.jpg" class="boxer" title="「COU」様" data-gallery="gallery"><img src="images/thumbnail/onamae008.jpg" alt="「COU」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae007.jpg" class="boxer" title="「美喜子」様" data-gallery="gallery"><img src="images/thumbnail/onamae007.jpg" alt="「美喜子」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae006.jpg" class="boxer" title="「東雲三○」様" data-gallery="gallery"><img src="images/thumbnail/onamae006.jpg" alt="「東雲三○」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae005.jpg" class="boxer" title="「正人」様" data-gallery="gallery"><img src="images/thumbnail/onamae005.jpg" alt="「正人」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae004.jpg" class="boxer" title="「瑞穂」様" data-gallery="gallery"><img src="images/thumbnail/onamae004.jpg" alt="「瑞穂」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae003.jpg" class="boxer" title="「小林○弘」様" data-gallery="gallery"><img src="images/thumbnail/onamae003.jpg" alt="「小林○弘」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae002.jpg" class="boxer" title="「桑江○憲」様" data-gallery="gallery"><img src="images/thumbnail/onamae002.jpg" alt="「桑江○憲」様" /></a></div>
<div class="image-box"><a href="images/gallary/onamae001.jpg" class="boxer" title="「郁代」様" data-gallery="gallery"><img src="images/thumbnail/onamae001.jpg" alt="「郁代」様" /></a></div>
			<h2>ロゴデザイン</h2>
<div class="image-box"><a href="images/gallary/collabo010.jpg" class="boxer" title="「冷凍ゆで落花生」" data-gallery="gallery"><img src="images/thumbnail/collabo010.jpg" alt="「冷凍ゆで落花生」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo009.jpg" class="boxer" title="「霧がかり」" data-gallery="gallery"><img src="images/thumbnail/collabo009.jpg" alt="「霧がかり」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo008.jpg" class="boxer" title="「丹沢銘茶」" data-gallery="gallery"><img src="images/thumbnail/collabo008.jpg" alt="「丹沢銘茶」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo007.jpg" class="boxer" title="「秦野特産」" data-gallery="gallery"><img src="images/thumbnail/collabo007.jpg" alt="「秦野特産」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo006.jpg" class="boxer" title="「招福達磨凧」" data-gallery="gallery"><img src="images/thumbnail/collabo006.jpg" alt="「招福達磨凧」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo005.jpg" class="boxer" title="「黒若秦野うどん」" data-gallery="gallery"><img src="images/thumbnail/collabo005.jpg" alt="「黒若秦野うどん」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo004.jpg" class="boxer" title="「はだのドーナツ」" data-gallery="gallery"><img src="images/thumbnail/collabo004.jpg" alt="「はだのドーナツ」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo003.jpg" class="boxer" title="「こもかけ」" data-gallery="gallery"><img src="images/thumbnail/collabo003.jpg" alt="「こもかけ」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo002.jpg" class="boxer" title="「おいしい秦野の水〜丹沢の雫〜」" data-gallery="gallery"><img src="images/thumbnail/collabo002.jpg" alt="「おいしい秦野の水〜丹沢の雫〜」" /></a></div>
<div class="image-box"><a href="images/gallary/collabo001.jpg" class="boxer" title="「うでピー」" data-gallery="gallery"><img src="images/thumbnail/collabo001.jpg" alt="「うでピー」" /></a></div>
<div class="image-box"><a href="images/gallary/logo002.jpg" class="boxer" title="「榮寿司」様" data-gallery="gallery"><img src="images/thumbnail/logo002.jpg" alt="「榮寿司」様" /></a></div>
<div class="image-box"><a href="images/gallary/logo001.jpg" class="boxer" title="「衣笠わくわく市」様" data-gallery="gallery"><img src="images/thumbnail/logo001.jpg" alt="「衣笠わくわく市」様" /></a></div>
			<h2>食器にぷっくりデザイン</h2>
<div class="image-box"><a href="images/gallary/tableware042.jpg" class="boxer" title="「ラッピング例」" data-gallery="gallery"><img src="images/thumbnail/tableware042.jpg" alt="「ラッピング例」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware041.jpg" class="boxer" title="「惑星」" data-gallery="gallery"><img src="images/thumbnail/tableware041.jpg" alt="「惑星」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware040.jpg" class="boxer" title="「惑星」" data-gallery="gallery"><img src="images/thumbnail/tableware040.jpg" alt="「惑星」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware039.jpg" class="boxer" title="「優心」" data-gallery="gallery"><img src="images/thumbnail/tableware039.jpg" alt="「優心」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware038.jpg" class="boxer" title="「優心」" data-gallery="gallery"><img src="images/thumbnail/tableware038.jpg" alt="「優心」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware037.jpg" class="boxer" title="「無我夢中」" data-gallery="gallery"><img src="images/thumbnail/tableware037.jpg" alt="「無我夢中」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware036.jpg" class="boxer" title="「太陽・華」" data-gallery="gallery"><img src="images/thumbnail/tableware036.jpg" alt="「太陽・華」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware035.jpg" class="boxer" title="「素直」" data-gallery="gallery"><img src="images/thumbnail/tableware035.jpg" alt="「素直」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware034.jpg" class="boxer" title="「真」" data-gallery="gallery"><img src="images/thumbnail/tableware034.jpg" alt="「真」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware033.jpg" class="boxer" title="「真心」" data-gallery="gallery"><img src="images/thumbnail/tableware033.jpg" alt="「真心」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware032.jpg" class="boxer" title="「笑」" data-gallery="gallery"><img src="images/thumbnail/tableware032.jpg" alt="「笑」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware031.jpg" class="boxer" title="「笑〜苦しい時こそ笑ってみよう〜」" data-gallery="gallery"><img src="images/thumbnail/tableware031.jpg" alt="「笑〜苦しい時こそ笑ってみよう〜」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware030.jpg" class="boxer" title="「笑〜苦しい時こそ笑ってみよう〜」" data-gallery="gallery"><img src="images/thumbnail/tableware030.jpg" alt="「笑〜苦しい時こそ笑ってみよう〜」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware029.jpg" class="boxer" title="「コースター 祐太様・智香様」" data-gallery="gallery"><img src="images/thumbnail/tableware029.jpg" alt="「コースター 祐太様・智香様」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware028.jpg" class="boxer" title="「祐太〜yuuta〜」様" data-gallery="gallery"><img src="images/thumbnail/tableware028.jpg" alt="「祐太〜yuuta〜」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware027.jpg" class="boxer" title="「智香〜tomoka〜」様" data-gallery="gallery"><img src="images/thumbnail/tableware027.jpg" alt="「智香〜tomoka〜」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware026.jpg" class="boxer" title="「三奈子」様" data-gallery="gallery"><img src="images/thumbnail/tableware026.jpg" alt="「三奈子」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware025.jpg" class="boxer" title="「有里紗」様" data-gallery="gallery"><img src="images/thumbnail/tableware025.jpg" alt="「有里紗」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware024.jpg" class="boxer" title="「ももこ」様" data-gallery="gallery"><img src="images/thumbnail/tableware024.jpg" alt="「ももこ」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware023.jpg" class="boxer" title="「晃子」様" data-gallery="gallery"><img src="images/thumbnail/tableware023.jpg" alt="「晃子」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware022.jpg" class="boxer" title="「幸」" data-gallery="gallery"><img src="images/thumbnail/tableware022.jpg" alt="「幸」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware021.jpg" class="boxer" title="「向日葵」" data-gallery="gallery"><img src="images/thumbnail/tableware021.jpg" alt="「向日葵」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware020.jpg" class="boxer" title="「暑」" data-gallery="gallery"><img src="images/thumbnail/tableware020.jpg" alt="「暑」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware019.jpg" class="boxer" title="「志優」様" data-gallery="gallery"><img src="images/thumbnail/tableware019.jpg" alt="「志優」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware018.jpg" class="boxer" title="「賢治」様" data-gallery="gallery"><img src="images/thumbnail/tableware018.jpg" alt="「賢治」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware017.jpg" class="boxer" title="「多津子」様" data-gallery="gallery"><img src="images/thumbnail/tableware017.jpg" alt="「多津子」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware016.jpg" class="boxer" title="「匡美」様" data-gallery="gallery"><img src="images/thumbnail/tableware016.jpg" alt="「匡美」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware015.jpg" class="boxer" title="「輝」" data-gallery="gallery"><img src="images/thumbnail/tableware015.jpg" alt="「輝」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware014.jpg" class="boxer" title="「感謝」" data-gallery="gallery"><img src="images/thumbnail/tableware014.jpg" alt="「感謝」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware013.jpg" class="boxer" title="「岳」" data-gallery="gallery"><img src="images/thumbnail/tableware013.jpg" alt="「岳」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware012.jpg" class="boxer" title="「海」" data-gallery="gallery"><img src="images/thumbnail/tableware012.jpg" alt="「海」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware011.jpg" class="boxer" title="「芽」" data-gallery="gallery"><img src="images/thumbnail/tableware011.jpg" alt="「芽」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware010.jpg" class="boxer" title="「夏」" data-gallery="gallery"><img src="images/thumbnail/tableware010.jpg" alt="「夏」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware009.jpg" class="boxer" title="「てつや」様" data-gallery="gallery"><img src="images/thumbnail/tableware009.jpg" alt="「てつや」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware008.jpg" class="boxer" title="「サンキュー」" data-gallery="gallery"><img src="images/thumbnail/tableware008.jpg" alt="「サンキュー」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware007.jpg" class="boxer" title="「ちかこ様・けいた様」" data-gallery="gallery"><img src="images/thumbnail/tableware007.jpg" alt="「ちかこ様・けいた様」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware006.jpg" class="boxer" title="「たつひこ様・りか様」" data-gallery="gallery"><img src="images/thumbnail/tableware006.jpg" alt="「たつひこ様・りか様」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware005.jpg" class="boxer" title="「おつかれ様」" data-gallery="gallery"><img src="images/thumbnail/tableware005.jpg" alt="「おつかれ様」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware004.jpg" class="boxer" title="「いつまでも健康で」" data-gallery="gallery"><img src="images/thumbnail/tableware004.jpg" alt="「いつまでも健康で」" /></a></div>
<div class="image-box"><a href="images/gallary/tableware003.jpg" class="boxer" title="「たかひろ」様" data-gallery="gallery"><img src="images/thumbnail/tableware003.jpg" alt="「たかひろ」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware002.jpg" class="boxer" title="「あき」様" data-gallery="gallery"><img src="images/thumbnail/tableware002.jpg" alt="「あき」様" /></a></div>
<div class="image-box"><a href="images/gallary/tableware001.jpg" class="boxer" title="「Thank 優」" data-gallery="gallery"><img src="images/thumbnail/tableware001.jpg" alt="「Thank 優」" /></a></div>
		</article>
	</section>
</div>
<!-- / コンテンツ -->

<!-- フッター -->
<div id="footer">
	<div class="inner">
		<article class="submenu">
			<ul>
				<li><a href="index.html">Top</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="gallary.html">Gallary</a></li>
				<li><a href="http://blog.livedoor.jp/terudou/" target="_blank">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</article>
		<p class="copyright">&copy; 2015 TERUDOU All Rights Reserved.</p>
		<p class="footer_logo"><a href="index.html">照道<span>TERUDOU</span></a></p>
	</div>
</div>
<!-- / フッター -->

</body>
</html>