<!doctype html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% provide(:title, 'Profile') %>
<meta name="keywords" content="照道,アート書道家,書道">
<meta name="description" content="アート書道家 | 照道（TERUDOU）">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/style.css.scss">
<link rel="stylesheet" type="text/css" href="../../assets/sylesheets/profile.css.scss">

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- ヘッダー -->
<!-- Partial:_header.html.erb -->
<!-- / ヘッダー -->

<!-- コンテンツ -->
<div id="wrapper">

	<section class="gridWrapper">
		<article class="grid">
			<h2>Profile</h2>
<!--
<img id="profile" src="images/profile/profile1.png" alt="profile">
-->
<img id="profile" <%= image_tag 'profile/profile1.png' %>

<p>
1985年7月生まれ。岩手県出身、神奈川県在住。
</p><p>
幼少の頃から書道を習い始めるが、中学生で一時中断。それからは筆には触れていなかった。書道から離れて早10年。就職し順風満帆な人生を過ごしていたはずだったが、仕事での人間関係で人間不信に陥る。今まで味わった事のない感情になり、kokoro(心)の中では私という人間が壊れていってしまうのがわかった。しかし、心は泣いていても顔では笑っていようという強い信念があった。
</p><p>
ふと、先輩に言われた<br/>
<span class="serif">「お前はどんな時でも笑ってるよな。お前の笑顔を見ると自分も頑張らないとと思うよ」</span>
</p>

<!--
<img id="profile2" src="images/profile/profile2.png" alt="profile2">
-->
<img id="profile2" <%= image_tag 'profile/profile2.png' %>

<p>その一言がきっかけで<br/>
<span class="serif">「笑顔」</span>という無形のココロと<br/>
<span class="serif">「文字」</span>という有形の心を融合し<br/>
気持ちを伝える<span class="serif">「書」</span>という型に想いを込めること、笑顔を伝搬することを決意した。それからは、趣味で文字を描いていたものの私の字から勇気をもらった、毎日見て頑張っている。などの嬉しいお言葉をいただき、照道(てるどう)として活動を始める。
</p>
<p>
「照道(てるどう)」はどんな(困難な)道でも、自分の(信念)道を突き進むという意味を持ってつけた名前である。私のkokoro、そして文字、言葉、形の持つ意味を独自に理解し、渡す方へのkokoroを筆に乗せ自由に表現しているアート書道である。書道とは到底異なり、一見何を描いているのか！？とじっくり見ないとわからないような、絵と書道を融合した新感覚なアートだと考える。同じ文字でも、見る方、また時期によっても色々な見え方感じ方ができる。文字の持っている不思議なpowerを照道で表現し、笑顔の「わ」が広がるようにと想いを込めて描いている。
</p>
<p>
みなさんを明るく<span class="serif">『照』</span>らす書の<span class="serif">『道』</span>へご案内します。
</p>
<!--
<img id="profile3" src="images/profile/profile3.png" alt="profile3">
-->
<img id="profile3" <%= image_tag 'profile/profile3.png' %>

			<div id="keireki">
				<p>【経歴】</p>
				<ul><li class="year">2013年</li>
					<li>【出展】「平泉展」  国立新美術館</li>
					<li>【作品提供】神奈川県秦野市 「はだのブランド認証品」とコラボ</li>
					<li>【作品提供】栄寿司様 ロゴ制作</li>
					<li>【受賞】ぺんてる「第1回筆アートコンテスト」ぺんてる賞</li>
				</ul>
				<ul><li class="year">2015年</li>
					<li>【個展】湘南信用金庫 衣笠支店</li>
				</ul>
			</div>

		</article>
		<article class="grid">
			<h2>SNS</h2>
			<!-- Facebook -->
			<div id="facebook">
				<a href="https://www.facebook.com/pages/照道/910437512349238" target="_blank">Facebook<br/></a>
				<div class="fb-page" data-href="https://www.facebook.com/pages/&#x7167;&#x9053;/910437512349238" data-width="450" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
				<div class="fb-xfbml-parse-ignore">
				<blockquote cite="https://www.facebook.com/pages/&#x7167;&#x9053;/910437512349238">
				<a href="https://www.facebook.com/pages/&#x7167;&#x9053;/910437512349238"></a>
				</blockquote></div></div>
			</div>
			<!-- / Facebook -->

			<!-- Twitter -->
			<div id="twitter">
				<a href="https://twitter.com/terudou334" target="_blank">Twitter<br/></a>
				<a class="twitter-timeline" height="450px" href="https://twitter.com/terudou334" data-widget-id="615024026373611520"></a>
				<script>!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
					if(!d.getElementById(id)){
						js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);
					}
				}(document,"script","twitter-wjs");</script>
			</div>
			<!-- / Twitter -->
		</article>
	</section>

</div>
<!-- / コンテンツ -->

<!-- フッター -->
<!-- Partial:_footer.html.erb -->
<!-- / フッター -->

</body>
</html>